rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // 유저별 이미지: 본인만 읽기/쓰기
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
